<%- include('headers'); -%>

<h1>This is the About Page </h1>


<p>We love JavaScript. It's a totally friendly language. All templating languages grow to be Turing-complete. Just cut out the middle-man, and use JS!</p>


<%- include('footer'); -%>